body {
    background-image: url("images/4KL.gif");
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    text-align: center;
}